#background {
    background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('./assets/images/patron-1.png');
    height: 350px;
}
h1 {
   font-size: 60px;
   margin-top: 64px;
   margin-bottom: 16px;
   font-weight: normal;
}

h2 {
    font-size: 32px;
    margin: 40px 0px;
    font-weight: normal;
}
h3 {
    font-size: 24px;

} 
body {
    color: #212121;
    font-family: 'Roboto', sans-serif;
    margin: 0;

}
p {
    width: 902px;
    height: 48px;
    left: 0px;
    top: 148px;
    font-size: 16px;
    line-height: 24px;
}

.footer {
    left: 0%;
    right: 0%;
    top: 97.2%;
    bottom: 0%;
    background: #212429;
}
footer {
    left: 0%;
    right: 0%;
    top: 97.2%;
    bottom: 0%;
    color: #212429;
}
 #code {
     background-color: #FEC62E;
     display: flex;
     flex-direction: row;
     width: 902px;
     height: 344px;
     left: 348px;
 }
 #text-code {
     positon: static;
     width: 511px;
     height: 264px;
     left: 40px;
    top: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
 }
 .dom {
     height: 470px;
     width: 900px;
 }

 blockquote {
    font-size: 24px;
    margin: 32px 0;
    padding-left: 16px;
    line-height: 24px; 
    border-left: 4px solid #212121;  
 }
 #css-black {
    width: 901.05px;
    height: 428px;
 }
 .copywright {
     position: absolute;
     color: #ffffff;
     width: 366px;
     height: 38px;
     text-align: center;
 }

 a {
    color: #424242;  
 }
 .suscribete {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 633px;
    height: 92px;
    left: 351px;
    top: 5836px;
 }
